.button {
  padding: 10px 20px;
  height: 68px;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #2d3e4e;
  overflow: hidden;


  &.default {
    background-color: #2d3e4e;
    color: #ffffff;
  }

  &.icon {
  }

  &.hovered {
    background-color: #07C06A;
    color: #ffffff;
    border-color: #ffffff;
  }

  &___icon {
    margin-right: 10px;
  }

  &__text {
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}
