.button {

  $ref: &;

  align-items: center;
  border-radius: 70px;
  border: 2px solid #2d3e4e;
  background-color: #2d3e4e;
  color: #ffffff;
  display: block;
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 600;
  height: 68px;
  line-height: 24px;
  overflow: hidden;
  overflow: hidden;
  padding: 10px 20px;
  text-overflow: clip;
  width: 100%;
  max-width: 300px;

  &:hover {
    cursor: pointer;
  }

  &.default {
    white-space: nowrap;
    background-color: #2d3e4e;
    color: #ffffff;
  }

  &.icon {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.hovered {
    background-color: #07c06a;
    color: #ffffff;
    border-color: #ffffff;

    #{$ref}__icon {
      svg {
        * {
          fill: #ffffff;
        }
      }
    }

  }

  &__icon {
    margin-right: 10px;
    svg {
      * {
        fill: #ffffff;
      }
    }
  }
}
