.button {

  $ref: &;

  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #2d3e4e;
  border-radius: 35px;
  background-color: #2d3e4e;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 600;
  height: 68px;
  line-height: 24px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;




  &:hover {
    cursor: pointer;
  }

  &.default {
    white-space: nowrap;
    background-color: #2d3e4e;
    color: #ffffff;

    #{$ref}__text {
      text-overflow: clip;
    }
  }

  &.icon {

    #{$ref}__text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: auto;
      text-align: left;
    }

  }

  &.hovered {
    background-color: #07c06a;
    color: #ffffff;
    border-color: #ffffff;

    #{$ref}__icon {
      svg {
        * {
          fill: #ffffff;
        }
      }
    }

  }

  &.disabled {
    background-color: #AAAAAA;
    color: #ffffff;
    border-color: #AAAAAA;
    cursor: not-allowed;

    #{$ref}__icon {
      svg {
        * {
          fill: #ffffff;
        }
      }
    }

  }

  &__icon {
    margin-right: 10px;
    svg {
      * {
        fill: #ffffff;
      }
    }
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
