.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 150px;
    height: 100%;
    min-height: 300px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border: 15px solid #ffffff;

    $ref: &;

    &:hover {
        cursor: pointer;

        &.default {
            background-color: #07C06A;
            border-color: #07C06A;
            color: #ffffff;
        }

        &.border {
            border: 15px solid #07C06A;
        }

        &.disabled {
            color: #ffffff;
            cursor: not-allowed;
        }

    }

    &.disabled {
        background-color: #ffffff;
        color: #ffffff;
        cursor: not-allowed;
    }

}